@import '../../../common/colors';

.header {
  background-color: #222;
  color: $white;
  height: 150px;
  padding: 20px;
}

.title {
  font-size: 1.5em;
}

.intro {
  color: $white;

  font: {
    family: K2D, sans-serif;
    weight: 100;
    size: 14px;
  }
}
