@import '../../../common/colors';

.not-found-container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;

  .not-found-logo {
    height: 80px;
    width: 80px;
  }

  .redirect-text {
    color: $white;
    margin: 40px 20px;
  }
}
