@import 'common/colors';
@import 'common/fonts';

body {
  margin: 0;
  padding: 0;
  color: $primaryText;
  font: {
    family: Lato;
    size: 16px;
    weight: 300;
  }

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: Lato;
    weight: 700;
  }
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: underline;
  }
}
