/**
 * General stylesheet file with all project colors.
 */

$border-color: #adb5bd;
$input-border-color: $border-color;

$theme-colors: (
  'border': $border-color,
  'card': #fbfbfb,
  'divider': #d1c7be,
  'half-primary': rgba(0, 154, 176, 0.5),
  'primary': #009ab0,
);
