/**
 * General stylesheet file with all project fonts.
 */

/* TODO: Remove useless font faces before release */

/* @Google Font Lato */
@font-face {
  font-family: Lato;
  font-weight: 100;
  src: url('app/assets/fonts/Lato/Hairline.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url('app/assets/fonts/Lato/Light.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url('app/assets/fonts/Lato/Regular.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url('app/assets/fonts/Lato/Bold.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: 800;
  src: url('app/assets/fonts/Lato/ExtraBold.ttf');
}
